.footer h1{
    font-family: 'Russo One', sans-serif;
    color: #088178;
    font-size: 40px;
}

.icons i{
    font-size: 40px;
    padding: 0px 10px;
    cursor: pointer;
}
.icons p{
    margin-left: 20px;
}

.footer{
    margin-top: 300px;
}
.icons i:hover{
    color: #088178;
}